@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}
nav {
  box-shadow: 0px 0px 7px 8px #121212;
  background-color: #121212;
}
li{
  list-style: none;
}
a{
  color: #fff;
  text-decoration: none;
}
a.navbar-brand {
  color: #fff;
  font-size: 30px;
}
a.navbar-brand:hover{
  color: #dddddd;
}
a.nav-link {
  font-size: 18px;
  color: #fff;
  text-decoration: none;
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show ,.navbar-nav .nav-link:hover{
  color: #dddddd;
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  color: rgb(255 172 172) !important;
}
#home{
  background-image: url('./home.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}
#about{
  min-height: 100vh;
  background-color: rgb(214, 214, 190);
}
.footer p{
  margin: 0;
}
