@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
	--bg-color: #212529;
	--txt-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}
nav {
  background-color: #121212ae;
  backdrop-filter: blur(10px);
}
li{
  list-style: none;
}
a{
  color:var(--txt-color);
  text-decoration: none;
}
a.navbar-brand {
  color: var(--txt-color);;
  font-size: 30px;
}
a.navbar-brand:hover{
  color: #dddddd;
}
a.nav-link {
  font-size: 18px;
  color: var(--txt-color);;
  text-decoration: none;
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show ,.navbar-nav .nav-link:hover{
  color: #dddddd;
}
.navbar-brand:focus, .nav-link:focus{
    color:#dddddd !important;
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  color: #dddddd !important;
}
#home{
  background-image: url('./home.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  min-height: 500px;
}
#home .lead{
	font-family: cursive;
}
#home .display-4{
	font-family: sans-serif;
    font-size: 50px;
    color: #ffebeb;
    margin: 20px 0 10px;
}
#home .bttn{
	border-radius: 12px;
    font-size: large;
}
#home .fa-lg {
    font-size: 40px;
  }
#about{
	height: 100vh;
    min-height: 450px;
  	background-color: rgb(84, 84, 84);
	  color: var(--txt-color);;
}
#education{
background-color: rgb(116, 116, 116);

}
#project{
	background-color: rgb(55, 55, 55);

}
span.me {
	display: inline-block;
    font-size: 32px;
    font-weight: 600;
    font-family: cursive;
    border-bottom: 3px solid var(--txt-color);;
	color: var(--txt-color);;
	margin-bottom: 20px;
}
p.email{
	font-size: 22px;
    font-weight: 400;
    font-family: monospace;
}
.about-content{
	font-family: cursive;
    font-size: 18px;
}
#contact-me{
	border-bottom: 2px solid #121212;
}
#contact-me a{
	text-decoration: none;
    color: #ccdfff;
    margin: 0 20px;
    font-size: 20px;
    cursor: pointer;

}
.footer p{
  margin: 0;
}
.footer a{
  text-decoration: none;
  color: var(--txt-color);;
}
.portfolio-tags {
	display: flex;
	justify-content: center;
	gap: 5px;
	flex-wrap: wrap;
}

.portfolio-tag {
	list-style-type: none;
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	color: #40E0D0;
	display: inline;
	border: 2px solid #40E0D0;
	padding: 3px;
}
.txt-rotate > .wrap { border-right: 5px solid #5afff0 }
.rotate {
    font-size: 35px;
    font-family: cursive;
    color: #5afff0;
}
@media (min-width: 768px) {
	.intro {
		height: 100%;
		padding: 0;
	}
	.intro .intro-body .brand-heading {
		font-size: 130px;
	}
	.intro .intro-body .intro-text {
		font-size: 35px;
	}
}

.mouse-warp {
	width: 28px;
	opacity: 0.5;
}

.mouse {
	width: 28px;
	height: 60px;
	border: 2px solid var(--txt-color);;
	border-radius: 14px;
}

.scroll {
	width: 5px;
	height: 5px;
	border-radius: 2px;
	background: var(--txt-color);;
	position: relative;
	left: 10px;
	-webkit-animation: scrolls 1.3s ease-out infinite;
}

@-webkit-keyframes scrolls {
	0% {
		top: 8px;
		opacity: 0;
		-webkit-transform: scaleY(1) scaleX(1);
	}
	5% {
		top: 8px;
		opacity: 0.8;
		-webkit-transform: scaleY(1.2) scaleX(1.2);
	}
	10% {
		top: 10px;
		opacity: 1;
		-webkit-transform: scaleY(1.6) scaleX(1.6);
	}
	30% {
		top: 20px;
		opacity: 1;
		-webkit-transform: scaleY(1.4) scaleX(1.4);
	}
	100% {
		top: 40px;
		opacity: 0;
		-webkit-transform: scaleY(1.2) scaleX(0.8);
	}
}
/*/ start about work experience /*/

#experience {
	margin-top: 20px;
}

#experience h2 {
	font-weight: 700;
	margin-top: 22px;
	padding-bottom: 10px;
	text-align: center;
}

.timeline-label h4 {
	margin-top: 0;
	font-size: 30px;
	color: #40E0D0;
	padding: 16px 0px;
	font-weight: 700;
}

.timeline-label p {
	color: #696969;
	padding: 8px 0px;
	line-height: 27px;
}

.button-group-li {
	cursor: pointer;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
}

.timeline-label a {
	text-decoration: none;
}

.text-timeline {
	background: #40E0D0;
	color: var(--txt-color);;
	font-size: 18px;
	height: 40px;
	padding: 0 25px;
	line-height: 40px;
}

.icon-li {
	font-size: 20px;
	width: 40px;
	height: 40px;
	line-height: 30px;
	box-sizing: border-box;
	border: 4px solid #40E0D0;
	border-left: none;
	-webkit-transition: 600ms -webkit-transform ease-in-out;
	transition: 600ms -webkit-transform ease-in-out;
	transition: 600ms transform ease-in-out;
	transition: 600ms transform ease-in-out, 600ms -webkit-transform ease-in-out;
	-webkit-transform: rotateY(90deg);
	transform: rotateY(90deg);
	-webkit-transform-origin: left;
	transform-origin: left;
	color: #40E0D0;
	background: var(--txt-color);;
	text-align: center;
}

.button-group-li:hover .icon-li {
	-webkit-transform: rotateY(0deg);
	transform: rotateY(0deg);
}

.button-group-li {
	-webkit-perspective: 200px;
	perspective: 200px;
	-webkit-perspective-origin: calc(100% - 40px);
	perspective-origin: calc(100% - 40px);
}

.timeline-label {
	padding-left: 7%;
	margin-top: 2%;
}

.col-exp {
	margin-top: 2%;
}

.timeline .timeline-experience {
	position: relative;
	float: left;
	margin-left: 32px;
	padding-left: 64px;
	border-left: 2px solid #ccc;
}

.timeline .timeline-experience-info h5 {
	margin-top: 0;
	margin-bottom: 0.333em;
	font-size: 18px;
	color: #40E0D0;
	font-weight: 700;
}

.timeline .timeline-experience-info .timeline-role {
	font-size: 16px;
	color: rgb(90, 255, 240);
	font-weight: 600;
}

.timeline .timeline-experience-info p {
	font-size: 12px;
	color: #333;
	line-height: 27px;
}

.timeline time {
	display: block;
	width: 65px;
	color: #ccc;
	text-align: center;
	font-weight: 700;
}
.timeline .timeline-experience-info,
.timeline .timeline-experience-info h5,
.timeline .timeline-experience-info .role,
.timeline .timeline-experience-info p {
	clear: none;
}

.timeline .timeline-experience .timeline-circle {
	position: absolute;
	top: 16px;
	left: -10px;
	display: block;
	width: 19px;
	height: 19px;
	border: 3px solid #ccc;
	border-radius: 50%;
	background-color: #F5F5F5;
}
.timeline-experience-info p {
	margin-top: 10px;
	margin-bottom: 20px;
}


/*/ end about work experience /*/
  .skills-container{
  display:flex;
  justify-content: space-evenly;
  text-align: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
  }
  
  .skills-title{
  display:flex;
  flex-direction: column;
  align-items:center;
  padding: 10px;
  }

  .skills-icons{
  width:50px;
  z-index:2;
  }

  .skills-img{
  width:90px;
  height:90px;
  position: relative;
  border-radius: 45px;
  background-color: var(--txt-color);;
  display:flex;
  justify-content:center;
  align-items:center;
  }

  .card-text{
	margin:8px 0;
  }